<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>OGGY BLOG</title>
</head>
<body>
    <div>
        <h1> Nagłówek</h1>
    </div>
    <div>
        <p> Paragraf</p>
        <em>wyróżniony tekst</em>
        <p>punkotwanie</p>
        <br>
    </div>
        {% for post in posts %}
    <div>
        <p> opublikowany: {{post.published_date }}</p>
        <h2><a href=""> {{ post.title }}</a></h2>
        <em> {{ post.text|linebreaksbr}}</em>
    </div>
        {% endfor %}
    <div>
        <br><br>
        <strong>pogróbienie</strong>
        <br>
        <a href="https://google.pl"> strona google </a>
    </div>
    <div>
        <ul>
            <li>Elementy listy1</li>
            <li>Elementy listy2</li>
            <li>Elementy listy3</li>
        </ul>
    </div>
</body>
</html>